@{
    ViewData["Title"] = "Inicio";
}

<!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box layout_padding2">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="img-box">
                      <div>
                        <img src="~/img/inicio1.jpg" alt="" class="" width="100px"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="detail-box">
                      <div>
                        <h1>
                          Monher S.A. <br>
                          <span>
                            Servicios
                          </span>
                        </h1>
                        <p>
                          Somos una empresa orientada al suministro de productos y ofrecimiento de alternativas innovadoras desde 1992.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- end slider section -->

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="custom_heading-container">
            <h3 class=" ">SOBRE NOSOTROS</h3>
        </div>
        <p class="layout_padding2-top">
        Buscamos brindarles alternativas que solucionen sus requerimientos generales, los asesoramos en la búsqueda de la mejor alternativa, siempre al tanto de las novedades, y adecuándonos a sus procedimientos y políticas.
        </p>
        <div class="img-box layout_padding2">
        <img src="~/img/inicio2.jpg" alt="">
        </div>
        <p class="layout_padding2-bottom">
        Les garantizamos comodidad, atención personalizada, flexibilidad en las entregas y la mejor alternativa trabajando conjuntamente.
        </p>
    </div>
    <div class="container">
        <div class="btn-box">
          <a asp-area="" asp-controller="Nosotros" asp-action="Nosotros">
            Leer más
          </a>
          <hr>
        </div>
    </div>
</section>
<!-- end about section -->


    <!-- work section -->

    <section class="work_section layout_padding">
      <div class="container">
        <div class="custom_heading-container">
          <h3 class=" ">
            PRODUCTOS
          </h3>
        </div>
      </div>
      <div class="work_container ">
        <div class="box b-1">
          <div class="img-box">
            <img src="~/img/cereal.png" alt="cereales">
          </div>
          <div class="name">
            <h6>
              Cereales
            </h6>
          </div>
        </div>
        <div class="box b-2">
          <div class="img-box ">
            <img src="~/img/harina.jpg" alt="harina">
          </div>
          <div class="name">
            <h6>
              Harina
            </h6>
          </div>
        </div>
        <div class="box b-3">
          <div class="img-box ">
            <img src="~/img/leche.jpg" alt="leche">
          </div>
          <div class="name">
            <h6>
              Leche
            </h6>
          </div>
        </div>
        <div class="box b-4">
          <div class="img-box ">
            <img src="~/img/mantequilla.jpg" alt="mantequilla">
          </div>
          <div class="name">
            <h6>
              Adipiscing elit
            </h6>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="btn-box">
          <a asp-area="" asp-controller="Catalogo" asp-action="Catalogo">
            Read More
          </a>
          <hr>
        </div>
      </div>
    </section>


    <!-- end work section -->

    <!-- contact section -->

    <section class="contact_section layout_padding container">
      <div class="custom_heading-container">
        <h3 class=" ">
          Recomendaciones
        </h3>
      </div>
      <p class="layout_padding2-top">
        ¿No encuentras los productos que buscas? Envíanos un formulario con tus recomendaciones para agregarlo al catálogo y así poder estar al tanto de la preferencia de nuestros clientes.
      </p>
      <div class="btn-box">
          <a asp-area="" asp-controller="Recomendacion" asp-action="Recomendacion">
            Leer más
          </a>
          <hr>
        </div>
    </section>

    <!-- end contact section -->
